
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 400;
}

ul li {
    /*list-style: none;*/
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-size: 24px;
}

    .btn:hover,
    .btn:focus {
        outline: none;
        box-shadow: none;
    }

.navbar-toggle {
    background-color: #512467;
    z-index: 1000;
    width: 44px !important;
}

a#scrollUp {
    bottom: 0px;
    right: 10px;
    padding: 5px 10px;
    background: #512467;
    color: #FFF;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

    a#scrollUp i {
        font-size: 30px;
    }


/*************************
*******Header CSS******
**************************/

.header_top {
    background: none repeat scroll 0 0 rgba(120, 44, 145, 0.5);
    height: 40px;
}

.contactinfo ul li:first-child {
    margin-left: -15px;
}

.contactinfo ul li a {
    font-size: 12px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}


    .contactinfo ul li a:hover {
        background: inherit;
    }


.social-icons ul li a {
    border: 0 none;
    border-radius: 0;
    color: #fff;
    padding: 0px;
}


.social-icons ul li {
    display: inline-block;
}

    .social-icons ul li a i {
        padding: 11px 15px;
        transition: all 0.9s ease 0s;
        -moz-transition: all 0.9s ease 0s;
        -webkit-transition: all 0.9s ease 0s;
        -o-transition: all 0.9s ease 0s;
    }

        .social-icons ul li a i:hover {
            color: #fff;
            transition: all 0.9s ease 0s;
            -moz-transition: all 0.9s ease 0s;
            -webkit-transition: all 0.9s ease 0s;
            -o-transition: all 0.9s ease 0s;
        }


.fa-facebook:hover {
    background: #0083C9;
}

.fa-twitter:hover {
    background: #5BBCEC;
}

.fa-linkedin:hover {
    background: #FF4518;
}

.fa-dribbble:hover {
    background: #90C9DC;
}

.fa-google-plus:hover {
    background: #CE3C2D;
}

.fa-youtube:hover {
    background: #cc181e;
}

.header {
    background: url('../images/index/header-mid-bg.png') repeat-x;
    height: 300px;
}

.header-middle {
}

    .header-middle .row {
        margin-left: 0;
        margin-right: 0;
        padding: 20px 0;
    }

    .header-middle .container .row .col-sm-4 {
        padding-left: 0;
    }

    .header-middle .container .row .col-sm-8 {
        padding-right: 0;
    }

.usa {
    border-radius: 0;
    color: #B4B1AB;
    font-size: 12px;
    margin-right: 20px;
    padding: 2px 15px;
    margin-top: 10px;
}

    .usa:hover {
        background: #512467;
        color: #fff;
        border-color: #512467;
    }

    .usa:active, .usa.active {
        background: none repeat scroll 0 0 #512467;
        box-shadow: inherit;
        outline: 0 none;
    }

.btn-group.open .dropdown-toggle {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus {
    background-color: #512467;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


.shop-menu ul li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

    .shop-menu ul li:last-child {
        padding-right: 0;
    }


    .shop-menu ul li a {
        background: #FFFFFF;
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        padding: 0;
        margin-top: 10px;
    }


        .shop-menu ul li a i {
            margin-right: 3px;
        }

.member-title-form {
    font-size: 30px;
}

.member-thumb {
    width: 112px;
    height: 146px;
    border: 1px solid #ddd;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
}

    .member-thumb img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0px auto;
    }

    .member-thumb figcaption {
        position: absolute;
        top: calc(100% - 15px);
        left: 95px;
    }

.shop-menu ul li a:hover {
    color: #fe980f;
    background: #fff;
}

#member_logout {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#member_foget_pass {
    font-size: 14px;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    color: #ef2ea1;
}

.header-bottom {
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar-collapse.collapse {
    padding-left: 0;
}

.mainmenu {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 35px 0 0 35px;
}

    .mainmenu ul li {
    }

        .mainmenu ul li:first-child {
            padding-left: 0px;
        }

        .mainmenu ul li a {
            color: #512467;
            font-family: 'Roboto', sans-serif;
            font-size: 17px;
            font-weight: 300;
            padding: 10px;
        }

            .mainmenu ul li a:hover, .mainmenu ul li a.active, .shop-menu ul li a.active {
                background: #512467;
                color: #fff;
            }

.search_box input {
    background: #F0F0E9;
    border: medium none;
    color: #B2B2B2;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    padding-left: 10px;
    width: 155px;
    background-image: url(../images/home/searchicon.png);
    background-repeat: no-repeat;
    background-position: 130px;
}


/*  Dropdown menu*/

.navbar-header
.navbar-toggle .icon-bar {
    background-color: #fff;
}


.nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    -moz-animation: fadeInUp 400ms;
    -ms-animation: fadeInUp 400ms;
    -o-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}

ul.sub-menu {
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
}

.dropdown ul.sub-menu li .active {
    color: #FDB45E;
    padding-left: 0;
}


.navbar-nav li ul.sub-menu li {
    padding: 10px 20px 0;
}

    .navbar-nav li ul.sub-menu li:last-child {
        padding-bottom: 20px;
    }

    .navbar-nav li ul.sub-menu li a {
        color: #fff;
    }

        .navbar-nav li ul.sub-menu li a:hover {
            color: #FDB45E;
        }

.fa-angle-down {
    padding-left: 5px;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/*************************
*******Footer CSS******
**************************/

#footer {
    background: #F0F0E9;
}


.footer-top .container {
    border-bottom: 1px solid #E0E0DA;
    padding-bottom: 20px;
}

.companyinfo {
    margin-top: 57px;
}

    .companyinfo h2 {
        color: #B4B1AB;
        font-family: abel;
        font-size: 27px;
        text-transform: uppercase;
    }

        .companyinfo h2 span {
            color: #512467;
        }

    .companyinfo p {
        color: #B3B3AD;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 300;
    }

.footer-top .col-sm-3 {
    overflow: hidden;
}

.video-gallery {
    margin-top: 57px;
    position: inherit;
}

    .video-gallery a img {
        height: 100%;
        width: 100%;
    }

.iframe-img {
    position: relative;
    display: block;
    height: 61px;
    margin-bottom: 10px;
    border: 2px solid #CCCCC6;
    border-radius: 3px;
}

.overlay-icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 61px;
    background: #512467;
    border-radius: 3px;
    color: #FFF;
    font-size: 20px;
    line-height: 0;
    display: block;
    opacity: 0;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

    .overlay-icon i {
        position: relative;
        top: 50%;
        margin-top: -20px;
    }

.video-gallery a:hover .overlay-icon {
    opacity: 1;
}

.video-gallery p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
}

.video-gallery h2 {
    color: #8c8c88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0px;
}


.address {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

    .address img {
        width: 100%;
    }

    .address p {
        color: #666663;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        left: 25px;
        position: absolute;
        top: 50px;
    }

.footer-widget {
    margin-bottom: 0px;
}

    .footer-widget .container {
        border-top: 1px solid #FFFFFF;
        padding-top: 15px;
    }

.single-widget h2 {
    color: #512467;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
}

    .single-widget h2 i {
        margin-right: 15px;
    }

.single-widget ul li a {
    color: #782c91;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0;
}

    .single-widget ul li a i {
        margin-right: 18px;
    }

    .single-widget ul li a:hover {
        background: none;
        color: #ed1093;
    }


.searchform input {
    border: 1px solid #DDDDDD;
    color: #CCCCC6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 0;
    outline: medium none;
    padding: 7px;
    width: 212px;
}


.searchform button {
    background: #512467;
    border: medium none;
    border-radius: 0;
    margin-left: -5px;
    margin-top: -3px;
    padding: 7px 17px;
}

    .searchform button i {
        color: #FFFFFF;
        font-size: 20px;
    }

    .searchform button:hover,
    .searchform button:focus {
        background-color: #512467;
    }

.searchform p {
    color: #512467;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
}

.footer-bottom {
    background: #D6D6D0;
    padding-top: 10px;
}

    .footer-bottom p {
        color: #363432;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-left: 15px;
    }

        .footer-bottom p span a {
            color: #512467;
            font-style: italic;
            text-decoration: underline;
        }


/*************************
******* Home ******
**************************/


#slider {
    padding-bottom: 45px;
}

.carousel-indicators li {
    background: #C4C4BE;
}

    .carousel-indicators li.active {
        background: #512467;
    }

.item {
    padding-left: 100px;
}


.pricing {
    position: absolute;
    right: 40%;
    top: 52%;
}

.girl {
    margin-left: 0;
}

.item h1 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 48px;
}

    .item h1 span {
        color: #512467;
    }

.item h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 10px;
}

.item p {
    color: #363432;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.get {
    background: #512467;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 23px;
}


.item button:hover {
    background: #512467;
}

.control-carousel {
    position: absolute;
    top: 50%;
    font-size: 60px;
    color: #C2C2C1;
}

    .control-carousel:hover {
        color: #512467;
    }

.right {
    right: 0;
}

.category-products {
    border: 1px solid #F7F7F0;
    margin-bottom: 35px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.left-sidebar h2, .brands_products h2 {
    color: #512467;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

    .left-sidebar h2:after, h2.title:after {
        content: " ";
        position: absolute;
        border: 1px solid #f5f5f5;
        bottom: 8px;
        left: 0;
        width: 100%;
        height: 0;
        z-index: -2;
    }

    .left-sidebar h2:before {
        content: " ";
        position: absolute;
        background: #fff;
        bottom: -6px;
        width: 130px;
        height: 30px;
        z-index: -1;
        left: 50%;
        margin-left: -65px;
    }

h2.title:before {
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 220px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -110px;
}

.category-products .panel {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    padding: 5px 20px;
}

    .category-products .panel-default .panel-heading .panel-title a {
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
    }

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0 none;
}

.category-products .badge {
    background: none;
    border-radius: 10px;
    color: #696763;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.panel-body ul {
    padding-left: 20px;
}


    .panel-body ul li a {
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
    }

.brands-name {
    border: 1px solid #F7F7F0;
    padding-bottom: 20px;
    padding-top: 15px;
}


    .brands-name .nav-stacked li a {
        background-color: #FFFFFF;
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding: 5px 25px;
        text-decoration: none;
        text-transform: uppercase;
    }

        .brands-name .nav-stacked li a:hover {
            background-color: #fff;
            color: #696763;
        }

.shipping {
    background-color: #F2F2F2;
    margin-top: 40px;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
}


.price-range {
    margin-top: 30px;
}

.well {
    background-color: #FFFFFF;
    border: 1px solid #F7F7F0;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 35px;
}


.tooltip-inner {
    background-color: #512467;
    border-radius: 4px;
    color: #FFFFFF;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #512467;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}


.padding-right {
    padding-right: 0;
}

.features_items {
    overflow: hidden;
}


h2.title {
    color: #512467;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.product-image-wrapper {
    border: 1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
}

.single-products {
    position: relative;
}

.new, .sale {
    position: absolute;
    top: 0;
    right: 0;
}

.productinfo h2 {
    color: #512467;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.product-overlay h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
}


.productinfo p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
    height: 50px;
}

.productinfo img {
    width: 100%;
}

.productinfo {
    position: relative;
}

.product-overlay {
    background: #512467;
    top: 0;
    display: block;
    height: 0;
    position: absolute;
    transition: height 500ms ease 0s;
    width: 100%;
}

.single-products:hover .product-overlay {
    display: block;
    height: 100%;
}


.product-overlay .overlay-content {
    bottom: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.product-overlay .add-to-cart {
    background: #fff;
    border: 0 none;
    border-radius: 0;
    color: #512467;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

    .product-overlay .add-to-cart:hover {
        background: #fff;
        color: #512467;
    }


.product-overlay p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}



.add-to-cart {
    background: #F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

    .add-to-cart:hover {
        background: #512467;
        border: 0 none;
        border-radius: 0;
        color: #FFFFFF;
    }

.add-to {
    margin-bottom: 10px;
}

.add-to-cart i {
    margin-right: 5px;
}

.add-to-cart:hover {
    background: #512467;
    color: #FFFFFF;
}

.choose {
    border-top: 1px solid #F7F7F0;
}

    .choose ul li a {
        color: #B3AFA8;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        padding-left: 0;
        padding-right: 0;
    }

        .choose ul li a i {
            margin-right: 5px;
        }

        .choose ul li a:hover {
            background: none;
            color: #512467;
        }

.category-tab {
    overflow: hidden;
}

    .category-tab .nav-tabs {
        background: #40403E;
        border-bottom: 1px solid #512467;
        list-style: none outside none;
        margin: 0 0 30px;
        padding: 0;
        width: 100%;
    }

        .category-tab .nav-tabs li a {
            border: 0 none;
            border-radius: 0;
            color: #B3AFA8;
            display: block;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            text-transform: uppercase;
        }

            .category-tab .nav-tabs li a:hover {
                background: #512467;
                color: #fff;
            }

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #512467;
    border: 0px;
    color: #FFFFFF;
    cursor: default;
    margin-right: 0;
    margin-left: 0;
}

.nav-tabs li a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 0;
}

.recommended_items {
    overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
    padding-left: 0;
}

.recommended-item-control {
    position: absolute;
    top: 41%;
}

    .recommended-item-control i {
        background: none repeat scroll 0 0 #512467;
        color: #FFFFFF;
        font-size: 20px;
        padding: 4px 10px;
    }

        .recommended-item-control i:hover {
            background: #ccccc6;
        }

.recommended_items h2 {
}

.our_partners {
    overflow: hidden;
}

    .our_partners ul {
        background: #F7F7F0;
        margin-bottom: 50px;
    }


        .our_partners ul li a:hover {
            background: none;
        }

/*************************
*******Shop CSS******
**************************/


#advertisement {
    padding-bottom: 45px;
}

    #advertisement img {
        width: 100%;
    }

.pagination {
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 0;
    padding-left: 15px;
}

    .pagination li:first-child a, .pagination li:first-child span {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: 0;
    }

    .pagination li:last-child a, .pagination li:last-child span {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .pagination .active a, .pagination .active span, .pagination .active a:hover, .pagination .active span:hover, .pagination .active a:focus, .pagination .active span:focus {
        background-color: #512467;
        border-color: #512467;
        color: #FFFFFF;
        cursor: default;
        z-index: 2;
    }

    .pagination li a, .pagination li span {
        background-color: #f0f0e9;
        border: 0;
        float: left;
        line-height: 1.42857;
        margin-left: -1px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
        margin-right: 5px;
        color: #000;
    }

        .pagination li a:hover {
            background: #512467;
            color: #fff;
        }




/*CUSTOMIZE*****************************************************************/
.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-margin {
    margin: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.banner-img {
    height: 300px;
    margin-right: 0;
    margin-left: auto;
}

.logo {
    padding: 5px 5px 5px 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 80px 80px 0;
}

    .logo a img {
        height: 70px;
    }

.logo-title {
    color: #B4B1AB;
    font-family: abel;
    font-size: 16px;
}

.main-tab-item {
    height: 120px;
}

.main-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.main-content {
    position: relative;
    width: 100%;
    background: url("../images/index/main-bg.png") no-repeat;
    margin-top: -180px;
    background-position: 0 180px;
    background-color: transparent;
}

.detail-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 380px;
}

.single-blog-post {
    margin-bottom: 25px;
}

    .single-blog-post .thumb {
        border: 1px solid #F7F7F0;
        width: 100%;
        height: 240px;
        margin-bottom: 30px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .single-blog-post .thumb-download {
        border: 1px solid #F7F7F0;
        width: 100%;
        height: 240px;
        margin-bottom: 30px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .single-blog-post .thumb-detail {
        height: 580px !important;
    }

    .single-blog-post .desc {
        height: 100px;
        overflow: hidden;
        text-align: justify;
    }

.hot-news {
    height: 100%;
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    padding: 5px 6px !important;
}

    .hot-news .thumb {
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        border-radius: 15px;
    }

    .hot-news .title {
        height: 25px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

        .hot-news .title a {
            color: #512467;
            font-size: 16px;
            font-family: 'Roboto',sans-serif;
            text-transform: uppercase;
            font-weight: 500;
        }

            .hot-news .title a:hover {
                background: none;
                color: #fdb45e;
            }

.about {
    padding-bottom: 25px;
}

    .about p {
        color: #696763;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
    }

.home-news {
    height: 240px;
    margin-bottom: 25px;
}

    .home-news .youtube,
    .home-news .top-news {
        width: 100%;
        height: 100%;
        border: 2px solid #512467;
        border-radius: 15px;
    }

    .home-news .youtube {
        padding: 5px;
    }

    .home-news .contact {
        width: 100%;
        height: 100%;
    }

.home-news-l {
    padding-right: 5px !important;
}

.home-news-m {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.home-news-r {
    padding-left: 5px !important;
}

.toolbox {
    position: fixed;
    right: 0;
    top: 20%;
}

    .toolbox .toolbox-item {
        width: 40px;
        height: 40px;
        color: #fff;
        text-align: center;
        background-color: #512467;
    }

        .toolbox .toolbox-item li a {
            border: 0 none;
            border-radius: 0;
            color: #fff;
            padding: 0;
        }

        .toolbox .toolbox-item li {
            display: inline-block;
        }

            .toolbox .toolbox-item li a i {
                padding: 11px 15px;
                transition: all 0.9s ease 0s;
                -moz-transition: all 0.9s ease 0s;
                -webkit-transition: all 0.9s ease 0s;
                -o-transition: all 0.9s ease 0s;
            }

                .toolbox .toolbox-item li a i:hover {
                    color: #fff;
                    transition: all 0.9s ease 0s;
                    -moz-transition: all 0.9s ease 0s;
                    -webkit-transition: all 0.9s ease 0s;
                    -o-transition: all 0.9s ease 0s;
                }

        .toolbox .toolbox-item .fa-phone:hover {
            background: #31b0d5;
        }

        .toolbox .toolbox-item .fa-envelope:hover {
            background: #449d44;
        }

        .toolbox .toolbox-item .fa-arrow-up:hover {
            background: #f0ad4e;
        }

        .toolbox .toolbox-item .fa-bars:hover {
            background: #8a6d3b;
        }

.user-guide {
    position: fixed;
    right: 10px;
    bottom: 60px;
}

.user-guide-detail {
    position: fixed;
    right: 120px;
    bottom: 85px;
    display: none;
}

.user-guide a img {
    width: 100px;
}

.user-guide-detail img {
    width: 450px;
}

.maps-button {
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    color: #512467;
    cursor: pointer;
}

    .maps-button:hover,
    .maps-button-active {
        background: #512467;
        color: #fff;
    }

.widget {
    margin: auto !important;
    margin-bottom: 25px !important;
    background: #fff;
    border-radius: 20px;
    border: 2px solid #512467;
    padding: 25px !important;
}

.order-menu {
    display: inline-block;
    width: 100%;
}

    .order-menu .menu-title {
        padding: 10px;
        background: #512467;
        color: #fff;
        border-radius: 4px 4px 0 0;
        cursor: pointer;
    }

    .order-menu .sub-menu {
        min-height: 200px;
        display: none;
    }

    .order-menu .sub-menu-title {
        padding: 10px 10px 10px 20px;
        background: #ededed;
        font-weight: bold;
        text-transform: uppercase;
        border-top: 1px solid #fff;
        cursor: pointer;
    }

        .order-menu .sub-menu-title:first-child {
            border-top: none !important;
        }

    .order-menu .title-expand .fa-chevron-down {
        display: none !important;
    }

    .order-menu .sub-menu-expand {
        display: block;
    }

.order-container .order-expand .menu-title {
    border-radius: 4px 4px 0 0;
}

    .order-container .order-expand .menu-title .fa-chevron-down {
        display: none !important;
    }

.order-container .order-expand .menu-panel {
    display: block;
}

.order-container .order-collapse .menu-title {
    border-radius: 4px;
}

    .order-container .order-collapse .menu-title .fa-chevron-down {
        display: block;
    }

.order-container .order-collapse .menu-panel {
    display: none !important;
}


.order-menu .order-menu-item {
    height: 220px;
    padding: 10px;
}

    .order-menu .order-menu-item .item-image {
        width: 150px;
        height: 150px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 4px;
        cursor: pointer;
    }

    .order-menu .order-menu-item .item-info {
        padding: 0 0px 0 150px;
        height: 150px;
    }

        .order-menu .order-menu-item .item-info .item-title {
            height: 30px;
            font-weight: bold;
        }

        .order-menu .order-menu-item .item-info .item-price {
            height: 30px;
        }

        .order-menu .order-menu-item .item-info .item-desc {
            height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: x-small;
        }

    .order-menu .order-menu-item .item-action {
        line-height: 50px;
        text-align: right;
    }

        .order-menu .order-menu-item .item-action i {
            font-size: 30px;
            color: #5cb85c;
        }

.order-detail {
    width: 200px;
    border: 1px solid #ededed;
    border-radius: 4px;
    background-color: #fff;
}

    .order-detail .order-detail-header {
        padding: 10px;
        color: #fff;
        border-radius: 4px 4px 0 0;
        background: #512467;
    }

    .order-detail .order-detail-content {
        padding: 10px;
        min-height: 100px;
        max-height: 300px;
        overflow-y: auto;
    }

    .order-detail .order-detail-footer {
        padding: 10px;
        color: #fff;
        border-radius: 0 0 4px 4px;
        background: #512467;
    }

    .order-detail .order-item {
        margin: 5px;
        background: #ededed;
        border-radius: 4px;
        padding: 5px;
        color: #512467;
        cursor: pointer;
        position: relative;
        float: left;
        width: calc(100% - 10px);
    }

        .order-detail .order-item .item-name {
            font-weight: bold;
            padding-right: 30px;
        }

        .order-detail .order-item .item-remove {
            padding-right: 5px;
            color: #ed1093;
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 999;
        }

            .order-detail .order-item .item-remove i {
                font-size: 18px;
            }

        .order-detail .order-item .item-price {
            padding-left: 5px;
        }

        .order-detail .order-item .item-note {
            padding-left: 5px;
            font-style: italic;
        }

        .order-detail .order-item .sub-item {
            padding-left: 5px;
        }

            .order-detail .order-item .sub-item .sub-item-name {
            }

            .order-detail .order-item .sub-item .sub-item-price {
                padding-left: 10px;
                font-size: small;
            }

.custom-tooltip + .tooltip > .tooltip-inner {
    background-color: #512467;
}

.custom-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: #512467;
}

.order-toolbox li {
    line-height: 35px;
    width: 100%;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    cursor: pointer;
}

    .order-toolbox li:hover {
        background: #f449ff;
        transition: all 0.9s ease 0s;
        -moz-transition: all 0.9s ease 0s;
        -webkit-transition: all 0.9s ease 0s;
        -o-transition: all 0.9s ease 0s;
    }

.order-toolbox span {
    color: #ed1093 !important;
    font-weight: bold;
    font-size: large;
}

.modal-lg {
    width: 960px !important;
}

.order-note {
    background: #512467;
    color: #fff;
}

.order-note-active {
    border: 1px solid #ed1093;
}

.sub-tab {
    border: 1px solid #512467;
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px;
}

.sub-tab2 {
    border: none !important;
    border-radius: 0px !important;
    margin-top: 0px !important;
    padding: 0px !important;
    display: none;
}

    .sub-tab2.active {
        display: block;
    }

.sub-tab .sub-item {
    height: 80px;
    padding: 10px;
}

    .sub-tab .sub-item .item-image {
        width: 60px;
        height: 60px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 4px;
    }

    .sub-tab .sub-item .item-info {
        padding-left: 70px;
        height: 60px;
    }

        .sub-tab .sub-item .item-info .item-title {
            height: 30px;
        }

        .sub-tab .sub-item .item-info .item-price {
            height: 30px;
        }

        .sub-tab .sub-item .item-info .item-qty {
            height: 30px;
            font-size: 18px;
            margin-right: 10px;
        }

        .sub-tab .sub-item .item-info .item-qty-added {
            color: #ed1093;
            font-weight: bold;
        }

    .sub-tab .sub-item .item-action {
        height: 30px;
        line-height: 30px;
    }

        .sub-tab .sub-item .item-action i {
            font-size: 18px;
            color: #ed1093;
        }

.sub-tab .sub-title {
    color: #512467;
}

.order-alert {
    color: #512467;
}

.order-send {
    color: #512467;
}

    .order-send .order-list {
        border: 1px solid #512467;
        border-radius: 4px;
        margin: 20px 0 5px 0px;
        padding: 0 10px 10px 10px;
    }

    .order-send .order-total {
        font-size: 18px;
        padding: 15px;
    }

    .order-send .order-list .list-item {
        border-bottom: 1px dashed #512467;
        padding: 10px 0;
    }

        .order-send .order-list .list-item .sub-item .item-name {
            padding-left: 25px;
        }

    .order-send .order-success {
        margin-top: 20px;
        padding: 10px;
        background: #ed1093;
        border-radius: 4px;
        color: #fff;
    }

    .order-send .order-info {
        line-height: 30px;
        margin-bottom: 5px;
    }

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
    .main-tab-item {
        height: 120px;
    }

    .banner-img {
        height: 300px;
        margin-right: 0;
        margin-left: auto;
    }

    .home-news-l {
        padding-right: 5px !important;
    }

    .home-news-m {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .home-news-r {
        padding-left: 5px !important;
    }

    .mainmenu {
        padding-right: 50px !important;
    }

    .logo {
        padding-left: 50px !important;
    }

    .modal-lg {
        width: 960px !important;
    }

    .single-blog-post .thumb-detail {
        height: 480px !important;
    }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    .main-tab-item {
        height: 160px;
    }

    .banner-img {
        height: 300px;
        margin-right: 0;
        margin-left: auto;
    }

    .home-news-l {
        padding-right: 5px !important;
    }

    .home-news-m {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .home-news-r {
        padding-left: 5px !important;
    }

    .mainmenu {
        padding-right: 15px !important;
    }

    .logo {
        padding-left: 5px !important;
    }

    .order-container {
        padding-right: 0 !important;
    }

    .order-detail-popup {
        position: fixed !important;
        top: 20% !important;
        right: 50px !important;
        left: inherit !important;
        z-index: 999 !important;
        display: block !important;
    }

    .modal-lg {
        width: 720px !important;
    }

    .single-blog-post .thumb-detail {
        height: 380px !important;
    }

    .user-guide-detail {
        right: 100px;
    }

    .user-guide a img {
        width: 80px;
    }

    .user-guide-detail img {
        width: 400px;
    }

    .member-title-form {
        font-size: 25px;
    }

    .member-thumb {
        margin: 0px auto;
    }

        .member-thumb figcaption {
            position: absolute;
            top: calc(100% - 16px);
            left: calc(50% + 40px);
        }

    #member_btn_next_level {
        margin-top: 10px;
        float: right;
    }
}

/* xs */
@media (max-width: 767px) {
    .main-tab-item {
        height: 200px;
    }

    .banner-img {
        height: 300px;
        margin-right: auto;
        margin-left: 0;
    }

    .home-news-l {
        padding-right: 0px !important;
    }

    .home-news-m {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .home-news-r {
        padding-left: 0px !important;
    }

    .mainmenu {
        padding-right: 15px !important;
    }

    .logo {
        padding-left: 5px !important;
    }

    .order-container {
        padding-left: 0 !important;
        padding-right: 25px !important;
    }

    .order-detail-popup {
        position: fixed !important;
        top: 20% !important;
        right: 50px !important;
        left: inherit !important;
        z-index: 999 !important;
        display: block !important;
    }

    .modal-lg {
        width: auto !important;
    }

    .order-nav {
        display: none !important;
    }

    .career-container {
        padding-left: 0 !important;
    }

    .career-nav {
        width: 40px !important;
        position: fixed !important;
        top: 20% !important;
        left: 0 !important;
        z-index: 999 !important;
    }

        .career-nav li a span {
            display: none;
        }

        .career-nav li {
            padding-left: 5px;
        }

    .member-container {
        padding-left: 0 !important;
    }

    .member-nav {
        width: 40px !important;
        position: fixed !important;
        top: 20% !important;
        left: 0 !important;
        z-index: 999 !important;
    }

        .member-nav li a span {
            display: none;
        }

        .member-nav li {
            padding-left: 5px;
        }

    .single-blog-post .thumb-detail {
        height: 280px !important;
    }

    .user-guide {
        right: 40px;
    }

    .user-guide-detail {
        right: 110px;
    }

    .user-guide a img {
        width: 60px;
    }

    .user-guide-detail img {
        width: 350px;
    }

    .member-title-form {
        font-size: 20px;
    }

    .member-thumb {
        margin: 0px auto;
    }

        .member-thumb figcaption {
            position: absolute;
            top: calc(100% - 16px);
            left: calc(50% + 40px);
        }

    #member_btn_next_level {
        margin-top: 10px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .user-guide {
        right: 10px;
    }

    .user-guide-detail {
        right: 60px;
    }

    .user-guide a img {
        width: 40px;
    }

    .user-guide-detail img {
        width: 300px;
    }

    .member-title-form {
        font-size: 20px;
    }

    .member-thumb {
        margin: 0px auto;
    }

        .member-thumb figcaption {
            position: absolute;
            top: calc(100% - 16px);
            left: calc(50% + 40px);
        }

    #member_btn_next_level {
        margin-top: 10px;
        width: 100%;
    }
}
/***************************************************************************/
